.content {
  grid-area: content;
  background: linear-gradient(to bottom , #20c997, #0d6efd, #530058);
  /* Give the background of the content part a gradient color mix */
}

.content-section {
display: flex; /*Make it a flex container */
padding-left: 5vw;
padding-right: 5vw;
}


.content-section img {
width: 18vw; /* The width of the image */
margin-right: 1vw; /*  margin to the right */

}
.Background-section{
h1{
  font-family: 'Times New Roman', Times, serif; /*The font type used */
  font-size: 2.5vw; /*font size*/
  text-align:  center; /*Alignning the h1 header type to the center */
}

p{
  color: black;
  font-weight: bold; /* The paragraph are bold */
  font-size: 1.2vw;
  padding: 1vw;
}

padding-left: 5vw;
padding-right: 5vw;

}

.Mission{
  h1{
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.5vw;
     text-align:  center;
    }
  
    p{
      color: black;
      font-weight: bold;
      padding: 1vw;
      font-size: 1.2vw;

    }
    
    padding-left : 5vw;
    padding-right : 5vw;

}
.content-section1 {
  display: flex; /*Make it a flex container */
  padding-left: 5vw;
  padding-right: 5vw;

}
.content-section1 img {
  width: 35vw; 
  height:20vw;
  padding-left : 1vw;
  margin-right: 1vw; /* Margin the right */
  
}

.founders{
  h1{
      font-family: 'Times New Roman', Times, serif;
      font-size: 2.5vw;
      text-align:  center;
  }
  p{
    font-size: 1.2vw;
    text-align: justify;
  }
  h2{
    font-size: 1.5vw;
  }

  margin: 0;
  padding: 0;
  margin-bottom: 1vw;
  
}

.serv {
  display: flex; /*Make it into a flex container */
  justify-content: space-between; /*Equal space between divisions */
  padding: 1vw;
  margin-top: 1vw;

}
.serv h3,.serv2 h3{
font-size: 1.5vw;
}

.serv p ,.serv2 p{
font-size: 1vw;
text-align: center;
align-items: center; /* alligning the paragraph in serv and serv2 in the center */
}

.serv2 {
  display: flex;
  justify-content: space-between; /*The serv 2 has equal space between items */
  padding: 1vw;

}

.service1 {
  display: flex;
  gap: 5vw; /*gap between items in service 1 */
  
}

.service1 {
  
  margin-left: 10vw;
  border: 0.3vw solid #000; /* border color */
  padding: 1vw;
  background-color: #f9f9f9;
  transition: border-color 0.9s; /* Smooth transition on hover */
  transition: padding 0.5s ease;/* Transition on padding,make it bigger when hover over it */

  a{
    color:#000;
    text-decoration: none;
  }
  
}

.service1:hover {
  border-color: #ff0000; /* Change color on hover */
  cursor : pointer; /*When hovered over it , the cursor will change to pointer */
  padding: 1.9vw;
}

.service2 {
  display: flex; /*flex container */
  gap: 5vw;

  a{
    color:#000;
    text-decoration: none;
  }
}

.service2 {
  
  margin-right: 8vw;
  border: 0.3vw solid #000; /* border color */
  padding: 1vw;
  background-color: #f9f9f9;
  transition: border-color 0.9s; /* Smooth transition on hover */
  transition: padding 0.5s ease;/* Transition on padding,make it bigger when hover over it */
  text-align: center;
  
}

.service2:hover {
  border-color: #ff0000; /* Change color on hover */
  cursor : pointer;/*When hovered over it , the cursor will change to pointer */
  padding: 1.9vw;
}

.service3 {
  display: flex;
  gap: 5vw;

  a{
    color:#000;
    text-decoration: none;
  }
}

.service3 {
  
  margin-left: 10vw;
  border: 0.3vw solid #000; /* border color */
  padding: 1vw;
  background-color: #f9f9f9;
  transition: border-color 0.9s; /* Smooth transition on hover */
  transition: padding 0.5s ease;/* Transition on padding,make it bigger when hover over it */
  
}

.service3:hover {
  border-color: #ff0000; /* Change color on hover */
  cursor : pointer;/*When hovered over it , the cursor will change to pointer */
  padding: 1.9vw;
}

.service4 {
  display: flex;
  gap: 5vw;
  text-align: center;

  a{
    color:#000;
    text-decoration: none;
  }
}

.service4 {
  
  margin-right: 8vw;
  border: 0.3vw solid #000; /* border color */
  padding: 1vw;
  background-color: #f9f9f9;
  transition: border-color 0.9s; /* Smooth transition on hover */
  transition: padding 0.5s ease;/* Transition on padding,make it bigger when hover over it */
  
}

.service4:hover {
  border-color: #ff0000; /* Change color on hover */
  cursor : pointer;/*When hovered over it , the cursor will change to pointer */
  padding: 1.9vw;
}

.service1 , .service2{
  width : 23vw; /*Space between service 1 and service 2 */
}

.service3 , .service4{
  width : 23vw; /*Space between service 3 and service 4 */
}



.word{
  h1{
      font-family: 'Times New Roman', Times, serif;/* font type */
      font-size: 2.5vw;
  text-align:  center; /* alligning the text to the middle/center */
    }
}

.contact {
display: flex; /*flex container */
justify-content: space-between; /* equal space */
padding: 2vw;
}

.contact-info, .contact-form { /* the space between the contact-info class and ccontact-form class */
width: 30vw;
margin-left: 2vw;
}
.contact-info h2, .contact-form h2 { /* to style h2 in both contac-info n contact-form class */
color: #f06;
font-size: 2vw;
}
.contact-info p{ /* paragraph style */
color: white;
font-size: 1vw;
}
.contact-info p, .contact-info address {
margin-bottom: 1vw;
}
.contact-form input, .contact-form textarea { /*styles on the input and textarea in the contact-form class */
width: 20vw;
padding: 0.5vw; /*box size*/
margin-bottom: 1.5vw; /*space between the boxes*/
border: none;
border-radius: 0.2vw;
}
.contact-form button {
font-size: 1vw;
width: 10vw;
padding: 0.6vw;
background-color: #f06;
color: #fff;
border: none;
border-radius: 0.2vw;
cursor: pointer;
}